<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9">
      <%= form_tag(posts_path(), :method => "get") do %>
       <%= text_field_tag :search %> 
       <%= hidden_field_tag :category, @category_name %>
      <%= submit_tag "検索" ,:text => nil ,class: "button is-info"%> 
      <% end %> 
      
      
      <h2><%= @category_name %></h2>
      <% @posts.each do |post| %>
        <p><%= link_to post.title, post_path(post.id) %></p>
        <p><%= post.text %></p>
        <% if post.images.attached? %>
        <% post.images.each do |image| %>
          <%= image_tag image, size: "200x200" %>
          <% end %>
        <% end %>
          <p><%= post.user.name %></p>
      <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
      <% end %>
      <%= paginate @posts %>
   </div>
  </div>
</div>