<h1><%= @category_name %></h1>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <p><%= post.text %></p>
  <% if post.images.attached? %>
    <%= image_tag post.image %>
  <% end %>
    <p><%= post.user.name %></p>
  <!--<p>カテゴリー:<%#= post.category.name %></p>-->
<% end %>