<h1>Public::Posts#new</h1>
<p>Find me in app/views/public/posts/new.html.erb</p>
<%= form_for @post do |f| %>
   <%= f.label :content,"内容" %>
   <%= f.text_field :content %>
   <%= f.select :category, [["ALL", "all"], ["月齢", "age"], ["地域", "region"]], ["情報", "infomation"], ["質問", "question"], include_blank: "どの投稿？" %>
   <%= f.submit "投稿する" %>
  <% end %>
