<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9">
      <h2>新規投稿</h2>
      <!-- form_with部分 -->
      <%= form_with model: @post do |f| %>
        <h6>タイトル</h6>
        <%= f.text_field :title %>
      	
        <h6>本文</h6>
        <%= f.text_area :text %><br>
      	
        <%= f.file_field :images, multiple: true %><br>
        
        <div class="form_input">
        <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: 'どの投稿をしますか？' } %>
        </div>
        <%= f.submit '投稿する' %>
      <% end %>
    </div>
  </div>
</div>