<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9">
      <p><%= link_to @post.user.name, user_path(@post.user) %></p>
      <p><%= @post.title %></p>
      <p><%= @post.text %></p>
      <% if @post.images.attached? %>
        <% @post.images.each do |image| %>
          <%= image_tag image %>
        <% end %>
      <% end %>
      <p>コメント件数：<%= @post.post_comments.count %></p>
  <% @post.post_comments.each do |post_comment| %>
    <p><%#= image_tag post_comment.user.get_profile_image(100,100) %></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: @post_post_comment do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
      <% if @post.user == current_user %>
        <%= link_to edit_post_path(@post.id), class: "btn btn-success btn-sm btn-block mb-3 edit_user" do %>
          Edit
        <% end %>
        <%= link_to post_path(@post.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" do %>
          Destroy
        <% end %>
      <% end %>
    </div>
  </div>
</div>