<div class="container">
  <div class="row offset-md-1">
    <div class="col-ms-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto offset-md-1">
      <h2>管理者ログイン</h2>
      
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "text-box", :size => "30", autofocus: true, autocomplete: "email" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "text-box", :size => "30", autocomplete: "current-password" %>
        </div>
        
    
    <p><%= f.submit "ログイン", class: "btn send-btn" %></p>
<% end %>
 

    </div>
  </div>
</div>
