  <%= flash[:notice] %>
<div class="container">
  <div class="row no-gutters">
    <div class="col">
      
      <div class="tabs">
  <input id="all" type="radio" name="tab_switch" checked>
  <label class="tab_label" for="all">ALL</label>
  <input id="月齢" type="radio" name="tab_switch">
  <label class="tab_label" for="月齢">月齢</label>
  <input id="地域" type="radio" name="tab_switch">
  <label class="tab_label" for="地域">地域</label>
  <input id="情報" type="radio" name="tab_switch">
  <label class="tab_label" for="情報">情報</label>
  <input id="質問" type="radio" name="tab_switch">
  <label class="tab_label" for="質問">質問</label>
  
  <div class="tab_content" id="all_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to 'ALL', posts_path(category: 'ALL'), class: 'text-dark' %></p>
    </div>
  </div>
  <div class="tab_content" id="月齢_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to '月齢', posts_path(category: '月齢'), class: 'text-dark' %></p>
    </div>
  </div>
  <div class="tab_content" id="地域_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to '地域', posts_path(category: '地域'), class: 'text-dark' %></p>
    </div>
  </div>
</div>
   <div class="tab_content" id="情報_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to '情報', posts_path(category: '情報'), class: 'text-dark' %></p>
    </div>
  </div>
</div>
<div class="tab_content" id="質問_content">
    <div class="tab_content_description">
      <p class="c-txtsp"><%= link_to '質問', posts_path(category: '質問'), class: 'text-dark' %></p>
    </div>
  </div>
</div>
        
         </div>
    </div>
  </div>
</div>