<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9">
        <a>top</a>
         
         <%= link_to 'ALL', all_path %>
         <%= link_to '月齢', age_path %>
         <%= link_to '地域', region_path %>
         <%= link_to '情報', infomation_path %>
         <%= link_to '質問', question_path %>
    </div>
  </div>
</div>