<%= flash[:notice] %>
<div class="container">
  <div class="row no-gutters">
    <div class="col">
      <div class="tabs" id="tab_wrapper">
        <input id="tab_category_0" type="radio" name="tab_switch" checked>
        <label class="tab_label" for="tab_category_0">ALL</label>
        <% @category_posts.map{|o| o[:category]}.each do |category| %>
          <input id="tab_category_<%= category.id %>" type="radio" name="tab_switch">
          <label class="tab_label" for="tab_category_<%= category.id %>"><%= category.name %></label>
        <% end %>
      </div>

      <div class="tab_content" id="all_content">
        <div class="tab_content_description">
          <div class="c-txtsp">
            <div class="container">
              <div class="row no-gutters">
                <div class="col-md-9">
                  <div class="my-4">
                    <%= form_with(url: search_path, method: :get, data: {remote: true}) do |f| %>
                      <%= f.text_field :search %> 
                      <%= f.hidden_field :category_id, value: @category_id %>
                      <%= f.submit "検索" ,class: "button is-info", id: "form_submit" %>
                    <% end %>
                  </div>
                  
                  <div id="category_posts_wrapper">
                    <%= render 'public/homes/category_posts', category_posts: @category_posts, category_id: @category_id, search: @search %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                      


