<div class="container">
  <div class="row no-gutters">
    <div class="col-md-9">
        
         
         <%= link_to 'ALL', all_path, class: 'text-dark' %>
         <%= link_to '月齢', age_path,class: 'text-dark' %>
         <%= link_to '地域', region_path,class: 'text-dark' %>
         <%= link_to '情報', infomation_path, class: 'text-dark' %>
         <%= link_to '質問', question_path, class: 'text-dark' %>
    </div>
  </div>
</div>