<div class="containe">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto offset-sm-1">
      <%= flash[:notice] %>
      <h2>会員一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>都道府県</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%=link_to user.name, admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td><%= user.address %></td>
            <% if user.is_deleted %>
                <td class="text-secondary font-weight-bold">無効</td>
              <% else %>
                <td class="text-success font-weight-bold">有効</td>
              <% end %>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>