<div class="container">
  <div class="row offset-sm-1">
    <div class="col-sm-12 col-md-12 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>ログイン</h2>
      <p><%= flash[:notice] %></p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <p><%= f.email_field :email, class: "text-box", :size => "30", autofocus: true, placeholder: "sample@example.com" %></p>
        </div>
      
        <div class="field">
          <%= f.label :パスワード %>
          <p><%= f.password_field :password, class: "text-box", :size => "30", autocomplete: "current-password" %></p>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <P><%= f.check_box :remember_me %>
            <%= f.label :ログインしたままにする %></P>
          </div>
        <% end %>
      
        <div class="actions">
         <p><%= f.submit "ログイン", class: "btn new-btn" %></p>
        </div>
      <% end %>
      
    <p>まだ登録されていない方は<%= link_to "こちら", new_user_registration_path, style: "color: #84a2d4" %></p>
    </div>
  </div>
</div>