<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4 class="font-weight-bold"><%= @user.name %>さんのマイページ</h4>
      
         <p><%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %></p>
      
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="field col-md-5"><p>ユーザー名</p></div>
                <div class="col-md-7"><%= @user.name %></div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="field col-md-5"><p>メールアドレス</p></div>
                <div class="col-md-7"><%= @user.email %></div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="field col-md-5"><p>都道府県</p></div>
                <div class="col-md-7"><%= @user.address %></div>
            </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-md-flex">
              <%= link_to edit_user_path(@user.id), class: "btn edit-btn" do %>
                編集する 
              <% end %>
            </div>
          </div>
        </div>  
      </div>
        
      <div class="col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4 d-md-flex">
              <h5 class="font-weight-bold">投稿一覧</h5>
            </div>
          </div>
        </div>  
        
        <div class="form-group">
          <div class="row">
            <div class="col-md-3 d-md-flex">
              <p>タイトル</p>
            </div>
            <div class="col-md-3 d-md-flex">
              <p>カテゴリー</p>
            </div>
            <div class="col-md-3 d-md-flex">
              <p>投稿日</p>
            </div>
            <div class="col-md-3 d-md-flex">
              <p>公開・非公開</p>
            </div>
          </div>
        </div> 
        
        <% @posts.each do |post| %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="field col-md-3"><%= link_to post.title, post_path(post.id), style: "color: #7fbfff" %></div>
                <div class="col-md-3"><%= post.category.name %></div>
                  <div class="col-md-3">
                    <% if ((@now - post.created_at).floor / 60) < 60 %>
                      <%= ((@now - post.created_at).floor / 60) %>分前
                    <% elsif ((@now - post.created_at).floor / 3600) < 24 %>
                      <%= ((@now - post.created_at).floor / 3600) %>時間前
                    <% else %>
                      <%= ((@now - post.created_at).floor / 86400) %>日前
                    <% end %>
                  </div>
                    <div class="col-md-3">
                      <% if post.is_published_flag %>
                        <span class="published">公開</span>
                      <% else %>
                        <span class="unpublished">非公開</span>
                      <% end %></div>
            </div>
          </div>
        </div> 
        <% end %>
      </div>
  </div>
</div>
