<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4><%= @user.name %>さんのページ</h4>
        <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="field col-md-3"><p>都道府県</p></div>
                <div class="col-md-5"><%= @user.address %></div>
            </div>
          </div>
        </div>
          <p>投稿件数：<%= @posts.count %>件</p>
    </div>
    <div class="col-md-6">
      <h5>投稿一覧</h5>
      <% @posts.each do |post| %>
      <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <%= link_to post.title, post_path(post.id), style: "color: #7fbfff" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <% if post.images.attached? %>
                <% post.images.each do |image| %>
                <%= image_tag image, width: '250' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <% if ((@now - post.created_at).floor / 60) < 60 %>
                <%= ((@now - post.created_at).floor / 60) %>分前
              <% elsif ((@now - post.created_at).floor / 3600) < 24 %>
                <%= ((@now - post.created_at).floor / 3600) %>時間前
              <% else %>
                <%= ((@now - post.created_at).floor / 86400) %>日前
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      
   </div>   
  </div>
</div>