<!DOCTYPE html>
<html>
  <head>
    <style type="text/css"><!--
    /*ここに調整CSS記述*/
    .jumbotron { 
      background:url(ayame.jpg)
      background-size: auto; 
      height: 400px;
    }
    --></style>

      <title>Ayame</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
          <%= csrf_meta_tags %>
          <%= csp_meta_tag %>
          
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
          <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="header">
      <div class="jumbotron">　
        <nav class="navbar navbar-expand-lg ">
          <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <% if !current_user.is_guest? %>
                  <li class="nav-item">
                    <%= link_to '新規投稿', new_post_path, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'マイページ',  my_page_path, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                  </li>
                <% end %>
                  <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, style: "color: #674196", method: :delete, class: 'nav-link font-weight-bold' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to notifications_users_path, style: "color: #ffb366", class: 'nav-link font-weight-bold' do %>
                      <i class="fas fa-bell"></i>
                    <% end %>
                  </li>
                
              <% elsif admin_signed_in? %>
                
                <li class="nav-item">
                  <%= link_to '会員一覧', admin_root_path, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                </li>
                
                <li class="nav-item">
                  <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                </li>
              
                
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, style: "color: #674196", class: 'nav-link font-weight-bold' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'ゲストユーザー', guest_path, style: "color: #674196", method: :post, class: 'nav-link font-weight-bold' %>
                </li>

              <% end %>
              </ul>
            </div>
          </div>
        </nav>
      <div class="container">
        <h1><%= link_to "あやめ", root_path, style: "color: #6A5ACD", class: 'nav-link font-weight-bold d-inline' %></h1>
        <p>ひとり親の方が笑顔になるコミュニティサイト</p>
      </div>
    </div>
    </header>
    <main class="m-5">
    <%= yield %>
    </main>
    <footer>
      <div class="headwrap">
      <div class="container text- pt-5 pb-4">
        <div class="row no-gutters">
          <div class="col-md-9">
            <%#= image_tag('logo-white.png') %>
      
          </div>
          <div class="col-md-3">
            <table>
            <tr class="p-0 list-unstyled">
              <td>
                <%= link_to privacy_policy_path, style: "color: #87CEFA", class: "nav-link" do %>
                  <h3 title="プライバシーポリシー"><i class="fas fa-lock"></i></h3>
                <% end %>
              </td>
              <td>
                <%= link_to terms_path, style: "color: #87CEFA", class: "nav-link" do %>
                  <h3 title="利用規約"><i class="fas fa-file"></i></h3>
                <% end %>
              </td>
              <td>
                <%#= link_to guideline_path, style: "color: #87CEFA", class: "nav-link" do %>
                  <!--<h3 title="コミュニティガイドライン"><i class="fas fa-users"></i></h3>-->
                <%# end %>
              </td>
            </tr>
            </table>
          </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>